@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e5ec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
}
.quran-section {
  background: #fff;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgb(163, 177, 198, 0.6);
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.section-container {
  padding: 10px 20px;
}

/* CARD */
.m-listSurah {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}


.m-listSurah--Items:hover {
  border-bottom: 1px inset rgb(0, 150, 136);
}
.m-detailSurah {
  color: #222;
  font-size: 14px;
  line-height: 1.1;
}
.m-listSurah--Items {
  padding: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  transition: all 0.35s;
}

.m-listSurah--Items:hover {
  box-shadow: 1px #ddd;
}

.m-listSurah--Items:hover {
  border-bottom: 1px inset rgb(0, 150, 136);
  transition: all 0.35s;
  transform: translateX(5px);
}

.m-listSurah .m-listSurah--Items .m-numberSurah {
  width: 40px;
  height: 35px;
  padding: 4px 0;
  border-radius: 100%;
  text-align: center;
  line-height: 35px;
  margin: 18px 30px;
  color: #fff;
  background: #009688;
}

.m-detailSurah p:first-child {
  font-size: 18px;
  color: #505050;
  font-weight: 700;
}
.m-colMenu__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* List ayah */
.bismillah {
  text-align: center;
  font-size: 35px;
  color: #009688;
  line-height: 46px;
  font-family: Uthmani, serif;
  flex: 1;
}
.p-contentAyah__items span {
  padding: 11px 15px;
  border: 1px solid #009688;
  color: black;
  border-radius: 11px;
  font-size: 14px;
  margin: 11px;
  cursor: pointer;
  font-weight: 500;
}
.m-listAyah {
  width: 100%;
  text-align: right;
  padding: 10px;
  font-size: 24px;
  color: #505050;
  border-top: 1px solid hsla(0, 0%, 50%, 0.1);
  line-height: 46px;
  font-family: "Amiri Quran", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

/* .m-listAyah__items {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
} */

.m-listAyah__number {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  line-height: 25px; /* Same as height for vertical centering */
  font-size: 14px;
  text-align: center;
  border-radius: 50%; /* Makes the div circular */
  color: transparent; /* Hide the text */
  border: 1px solid #009688;
  position: absolute;
  right: 10px;
  top: 30%;
}

.m-listAyah__number span {
  display: inline-block; /* Ensures vertical centering */
  color: #009688; /* Color of the number */
}

.m-listAyah__ayah {
  padding: 0 50px;
  color: #666;
  font-size: 1.2em;
  line-height: 2.5;
}
/*Header*/

#header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 6px 6px;
  font-family: 'Quicksand', sans-serif;
}

.o-brandTitle {
  text-align: center;
  color: #e74c3c;
}

/*Detail Page*/

.o-PokeBody {
  padding: 14px;
}

/*404*/

.p-backButton {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: rgb(0, 150, 136);
  width: 40%;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.35s;
}
.p-backButton:hover {
  transition: all 0.35s;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.16);
}

/*PANEL*/

.panelWrapper {
  position: fixed;
  bottom: -50%;
  left: 20px;
  right: 0;
  padding: 24px;
  background: #009688;
  background: white;
  color: #333 !important;
  box-shadow: 0px 2px 20px 0.5px #dddd;
  width: 100%;
  border-radius: 6px;
  max-width: 300px;
  font-family: Quicksand;
  transition: all 0.3s ease-out;
  font-family: "Open Sans", sans-serif !important;
}

.panelWrapper.show {
  bottom: 50px;
  transition: all 0.3s ease-out;
}
.open-panel {
  position: fixed;
  bottom: 50px;
  left: 20px;
  background: #009688;
  padding: 10px 12px;
  border-radius: 100px;
  color: #fff;
}
.open-panel:hover {
  cursor: pointer;
  transition: all 0.1s;
}

.panelWrapper__col {
  width: 100%;
  margin-top: 37px;
}

.panelWrapper__col span {
  margin: 0 10px;
  padding: 5px;
  background: #4caf50;
  text-align: center;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  flex: 1;
}

.panelWrapper__items {
  border-radius: 6px;
}

.panel_close span {
  position: absolute;
  right: 0;
  padding: 7px 10px;
  font-size: 14px;
  background: #e91e63;
  border-radius: 100px;
  transition: all 0.35s;
}

.panel_close:hover span {
  transition: all 1s;
  transform: rotate(360deg);
  cursor: pointer;
}

.m-listAyah__translate {
  transition: all 0.3s ease-out;
  font-family: "Open Sans", sans-serif !important;
  line-height: 1.5;
}

.tl-hide {
  opacity: 0;
  height: 0px;
  line-height: 0;
  margin: -10px;
  transition: all 0.3s ease-out;
}

.list-section {
  padding: 40px 0;
}

/* CSS Home */
.m-colMenu {
  width: 33.3333%;
  padding: 14px;
  box-sizing: border-box;
}

.m-colMenu__thumbnail {
  background: #eee;
  text-align: center;
  height: 14vh;
  max-height: 105px;
  min-height: 105px;
}

.m-colMenu__body {
  padding: 14px;
  font-family: Quicksand;
  font-weight: bold;
  text-align: center;
}
.m-colMenu__body a {
  text-decoration: none;
}

.m-colMenu__items {
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

/* Search Field */
.m-searchField {
  width: 50%;
  margin: 5rem auto;
}

.m-searchField input {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 1rem;
  padding: 11px;
  transition: all 0.35s;
}

.m-searchField input:focus {
  outline: none;
  border: 2px solid #ddd;
  transition: all 0.35s;
}

.m-searchField input::placeholder {
  color: #ddd;
  font-size: 1rem;
}

@media only screen and (max-width: 480px) {
  .list-section {
    padding: 70px 0;
  }
  .panelWrapper {
    left: 6px;
  }
  .m-colMenu {
    width: 100%;
  }
  .p-section {
    font-size: 14px;
    width: 100%;
  }
  .p-backButton {
    width: 100%;
  }
  .bounce {
    animation: unset;
  }
  .m-searchField {
    width: 70%;
    margin: 5rem 50px;
  }
}
